Problemas3y4y5-SALCIDO/.idea/Problema3.dtd

 <!ELEMENT CartaMenu (Platillos)>
        <!ELEMENT Platillos (Platillo+)>
        <!ELEMENT Platillo (Nombre+, PrecioenEuros+, Descripcion+, Calorias+)>
        <!ELEMENT Nombre (#PCDATA)>
        <!ELEMENT PrecioenEuros (#PCDATA)>
        <!ELEMENT Descripcion (#PCDATA)>
        <!ELEMENT Calorias (#PCDATA)>