Problemas 2 y 6-OSORNIO/TareaXML/src/Problema6punto2.dtd

<!ELEMENT libros (libro)*>
        <!ELEMENT libro (titulo|autor|descripcion)*>
        <!ATTLIST libro
                id CDATA #REQUIRED>
        <!ELEMENT titulo (#PCDATA)>
        <!ELEMENT autor (#PCDATA)>
        <!ATTLIST autor
                nombre CDATA #REQUIRED>
        <!ELEMENT descripcion (#PCDATA)>
